<%- include('partials/head', { title: 'Random number'}) %>

    <%- include('partials/navbar') %>
    <h1>Welcome to our app</h1>
    <p>Your random number is <%= rand %>
    </p>

    <h2>Your number is <%= rand % 2==0 ? 'even' : 'odd' %>
    </h2>

    <% if (rand> 4) { %>
        <p>The number is greater than five</p>
        <% } else { %>
            <p>The number is less than five</p>
            <% } %>

<%- include('partials/footer') %>